<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
    package="{package}"
    android:versionCode="{version_code}"
    android:versionName="{version_name}">

    <uses-sdk android:minSdkVersion="{min_sdk}" android:targetSdkVersion="{target_sdk}" />

    <!-- Все наши победные разрешения на месте -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application android:label="{app_name}" android:icon="@drawable/icon" android:allowBackup="true">
        
        <activity android:name="org.kivy.android.PythonActivity" android:label="{app_name}" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ЖЕСТКИЙ ОЛДСКУЛЬНЫЙ ЗАЖИМ: НАША БЕССМЕРТНАЯ СЛУЖБА С ТИПОМ DATA_SYNC! -->
        <service android:name="org.kivy.android.PythonService"
                 android:process=":service"
                 android:foregroundServiceType="dataSync"
                 android:stopWithTask="false"
                 android:exported="false" />


    </application>
</manifest>
